.appointment{
    padding-top: 32px;
    padding-bottom: 56px;
}

.container {

}

.success {
    color: #4BB543;
    font-weight: bold;
}

.error {
    font-weight: bold;
    color: var(--error-color);
}

.calendarDate {
    border: 1px solid white !important;
}
.highlightDate {

    border: 1px solid white;
    background-color: #ADEBE3 !important; /* Blue background color */
    color: black !important; /* White text color */
}

.highlightDate:hover, .highlightDateSelected:hover {
    border: 1px solid var(--primary-color);
}

.highlightDateSelected {
    background-color: var(--golden-color) !important; /* Red background for selected dates */
    color: white;
}

.icon {
    width: 24px;
    height: 24px;
}

.header {
    display: flex;
    align-items: center;
}
.header span {
    margin-left: 32px;
    font-size: 18px;
    font-weight: bold;
}

.content {
    padding-top: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.timeSlot {
    padding-top: 32px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timeSlotContent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    padding-bottom: 56px;
}

.backArrow {
    text-decoration: none;
    color: black;
}