.container {
  font-family: Inter;
}

.taGrid{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.pageLabel {
  /* margin: 20px; */
  font-weight: 500;
  font-size: 2em;
}

.navigationBackArrowSvgrepoIcon{
  height: 30px !important;
  width: 30px !important;
  margin-right: 35px;
}


.topicLogo {
  height: 35px ;
  width: auto ;
  margin-right: 15px;
}

.CourseName {
  font-size: 15px;
  font-weight: normal;
}

@media (min-width: 768px) {
  
  .pageLabel {
    margin-top: 100px;
  }
  
  /* laptop */
  .taGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto);   
    gap: 20px;
    justify-items: center;
  }

  .navigationBackContainer {
    padding-top: 30px;
    display: block;
    text-decoration: none;
  }



  .CourseName {
    color: black;
  }
}

@media only screen and (min-width: 960px) {
  .taGrid {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between !important;
  }
}