.container {
  font-family: Inter;
}

.taGrid{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.available {
  margin: 20px;
  font-weight: 500;
  font-size: 40px;
}

.navigationBackArrowSvgrepoIcon{
  height: 20px;
  width: 20px;
}

.javaIcon{
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  gap: 5px;
}

.javaSvgrepoCom1Icon {
  height: 35px;
  width: auto;
}

.CourseName {
  font-size: 15px;
  font-weight: normal;
}

@media (min-width: 960px) {
  /* .container {
    padding: 20px; 
  } */
  
  .available {
    margin-top: 100px;
  }
  
  /* laptop */
  .taGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto);   
    gap: 20px;
    justify-items: center;
  }

  .javaIcon {
    padding-top: 30px;
  }

  .navigationBackArrowSvgrepoIcon {
    
    width: 35px;
    height: 35px;
  }

  .CourseName {
    
  }

  .javaSvgrepoCom1Icon{
    
  }
}