
.profileParent {
    width: 300px;
    height: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border: 1px solid #c5c5c5;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.profileSvgrepoCom1Icon {
    /* position: absolute;
    top: 20px;
    left: 15.27px; */
    width: 30px;
    height: 20px;
    object-fit: cover;
}



/* .profile1{
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 28px;
    border: 3px solid #6b6868;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    overflow: hidden;

} */

/* .profileParent {
    width: 100vw;
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px; /* Smaller font for better fit */
    /* } */ 

.profile{
    margin-top: 40px;
    width: 52px;
    height: 52px;
}

.button {
    height: 20px;
    width: 200px;
    background-color: #0056d2;
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    font-family: Inter;
}

/* Adjust other elements for small screens */
/* .profileSvgrepoCom1Icon {
    width: 100px;
    height: 100px;
} */

.TAName, .year, .aBrightSocially {
    margin-top: 10px;
    font-family: Inter;
    /* font-size: 14px; */
}

.aBrightSocially{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
   text-align: center;
   /* font-family: Inter; */
}

.TAName{
    /* margin-top: 20px; */
    /* font-family: Inter; */
    font-size: 14px;
}

.year{
    /* font-family: Heebo; */
    color: #746868;
    font-size: 9px;
}

.seeAvailableTime{
    color:#fff;
    font-weight: 600;
}


@media (min-width: 960px) {
    .profileSvgrepoCom1Icon {
        /* position: absolute;
        top: 15.27px;
        left: 15.27px; */
        width: 83.1px;
        height: 83.1px;
        object-fit: cover;
    }
    
    /* .profile1 {
        width: 113px;
        height: 113px;
    } */
    
    .profile {

        width: 96px;
        height: 96px;

    }
    
    .TAName {
        /* position: absolute;
        top: 170px;
        left: 215px; */
        font-weight: 500;
    }
    
    .aBrightSocially {
        /* position: absolute; 
        top: 234px;
        left: 60px; */
        font-size: 12px;
        line-height: 21px;
        /* font-weight: 300; */
        display: inline-block;
        /* width: 400px;
        height: 47px; */
    }
    
    .year {
        /* position: absolute;
        top: 195px;
        left: 217px; */
        font-size: 10px;
        /* font-family: Heebo; */
        color: #746868;
    }
    
    .seeAvailableTime {
        /* position: absolute;
        top: 18px;
        left: 33px; */
        align-items: center;
    }
    
    .button {
        /* position: absolute;
        top: 338px;
        left: 144px; */
        border-radius: 8px;
        background-color: #0056d2;
        /* width: 228px;
        height: 34px; */
        overflow: hidden;
        font-size: 14px;
        color: #fff;
    }
    
    .profileParent {
        width: 400px;
        /* align-content: center; */
        /* position: relative; */
        /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
        /* background-color: #fff; */
        /* border: 1px solid #c5c5c5; */
        /* box-sizing: border-box; */
        height: 400px;
        /* overflow: hidden; */
        /* text-align: center; */
        /* font-size: 16px;
        color: #000;
        font-family: Inter; */
    }
    
}