.profile {
    padding-top: 36px;
}

.logout {
    display: flex;
    width: 100%;
    justify-content: end;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer {
    border: 3px solid rgba(141, 137, 137, 0.5);
    width: 145px;
    height: 145px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 4px rgba(141, 137, 137, 0.25), 0px 1px 4px 4px rgba(0, 0, 0, 0.21) inset;
    position: relative;
    overflow: hidden;
}

.profileImg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 35%;
    background-color: rgba(255, 255, 255, 0.75);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.camera {
    
    width: 32px;
    height: 32px;
    opacity: 75%;
    cursor: pointer;
}

.profileForm {
    padding-top: 72px;
    width: 90%;
}

.formGroup {
    display: flex;
    align-items: end;
    gap: 14px;
    margin-bottom: 28px;
}

.formGroup input {
    border: none;
}

.taSession {
    padding-top: 96px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.sessionContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 125px;
    gap: 24px;
}





@media only screen and (min-width: 768px) {
    .profileForm {
        width: 70%;
    }
    .sessionContainer {
        justify-content: space-between;
    }
}

@media only screen and (min-width: 960px) {
    .profileForm {
        width: 55%;
    }
}