
.profileParent {
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border: 1px solid #c5c5c5;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 18px;
    padding-bottom: 35px;
    transition: transform 0.3s ease, background-color 0.3s ease, scale 0.3s ease, border-color 0.2s ease;
    
}

.profileParent:hover {
    scale: 1.05;
    border-color: var(--primary-color);
}

.profileSvgrepoCom1Icon {

    width: 30px;
    height: 20px;
    object-fit: cover;
}

.profile{
    margin-top: 40px;
    width: 52px;
    height: 52px;
}

.buttonContainer {
    margin-top: 34px;
}

.button {
    
    padding: 14px;
    transition: transform 0.3s ease, background-color 0.3s ease !important;
}

.button:hover {
    background-color: #003da1 !important;
}

.TAName, .year, .aBrightSocially {
    margin-top: 10px;
    font-family: Inter;
    /* font-size: 14px; */
}

.aBrightSocially{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
   text-align: center;
   /* font-family: Inter; */
}

.TAName{
    /* margin-top: 20px; */
    /* font-family: Inter; */
    font-size: 14px;
}

.year{
    /* font-family: Heebo; */
    color: #746868;
    font-size: 9px;
}

.seeAvailableTime{
    color:#fff;
    font-weight: 600;
}



@media (min-width: 768px) {
    .profileSvgrepoCom1Icon {

        width: 83.1px;
        height: 83.1px;
        object-fit: cover;
    }
    
    .profile {

        width: 96px;
        height: 96px;

    }
    
    .TAName {

        font-weight: 500;
    }
    
    .aBrightSocially {

        font-size: 12px;
        line-height: 21px;
        /* font-weight: 300; */
        display: inline-block;

    }
    
    .year {

        font-size: 10px;
        color: #746868;
    }
    
    .seeAvailableTime {
    
        align-items: center;
    }
    
    .button {

        border-radius: 8px;
        background-color: #0056d2;
        overflow: hidden;
        font-size: 14px;
        color: #fff;
    }
    
    .profileParent {
        
        width: 340px !important;
    }  
}


@media only screen and (min-width: 960px) {
    .profileParent{
        flex: 1 !important;
        min-width: 360px;
    }
}