.resetpasswordPage{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resetMessage {
    color: green;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
.formContainer {
    padding: 16px;
    padding-top: 48px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formContainer h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.formContent {
    padding-top: 28px;
    text-align: center;
    box-sizing: border-box;
    width: 90%;
    
}

.formContent div {
    padding-bottom: 8px;
}

.toLoginText {
    font-size: 12px;
    color:  gray;
    /* margin-top: 16px; */
}

.inputError{
    border-color: #ff0000 !important;
}

.inputError input {
    border-color: #ff0000 !important;
}

.errorMessage {
    color: #ff0000;
    font-size: 14px;
    margin-top: 4px;
    text-align: left;
}

@media only screen and (min-width: 768px) {
    .formContent {
        width: 65%;
    }
    .formContent div {
        padding-bottom: 14px;
    }
}

@media only screen and (min-width: 960px) {
    .formContent {
        width: 45%;
    }
} 