.senderName {
    font-size: 13px;
    font-family: Inter;
    color: rgba(87, 84, 84, 0.62);
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

.senderBox {
    padding: 10px;
    max-width: 40%;
    border-radius: 0px 12px 12px 12px;
    background-color: rgba(237, 239, 242, 0.75);
    min-height: 26px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Inter;
    margin-left: 10px;
}

.profileAndMsgBox {
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.meBox {
    padding: 10px;
    max-width: 40%;
    border-radius: 12px 0px 12px 12px;
    background-color: #3071ff;
    min-height: 26px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Inter;
    margin-left: 10px;
    color: white;

}

.senderColumn, .meColumn {
    display: flex;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.meColumn {
    justify-content: flex-end;
}

.senderColumn {
    flex-direction: column;
}

