.navbar {
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 0px rgba(224, 224, 224, 0.5);
    background-color: #fff;
}

.navbarContent {
    padding: 21px;
    display: flex;
    font-family: Inter;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    box-sizing: border-box;
}

.backBtn {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    border: none; /* No border */
    background: none; /* Remove background */
    cursor: pointer; /* Change cursor to pointer */
    padding: 0; /* Remove padding */
    margin-right: 10px; /* Space between the button and the logo */
}


.rightSide {
    display: flex;
    align-items: center;
    width: 100%;
}

.leftSide {
    display: flex;
    width: 100%;
    align-items: center;
}


.profileName {
    margin-left: 10px;
    font-size: 13px;
}

@media only screen and (min-width: 768px) {
    .leftSide {
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding-top: 0;
    }
    .navbarContent {
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
    }
    .profileName {
        font-size: 20px;
    }
}

@media only screen and (min-width: 960px) {
    .container {
        max-width: 960px; /* Increased to match larger screen widths */
    }
    .profileName {
        font-size: 19px;
    }
}


