.container {
    
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 54px;
}

.buttonsContainer {
    width: 100%;
    display: flex;
    justify-content: end;
}

.completed {
    color: gray;
    border: 2px solid gray;
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    
}