.profilePicture {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
  }
  
  .profilePicture img {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: solid gray 3px;
  }
  
  .cameraIcon {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff8d;
    color: white;
    padding: 5px 70px;
    cursor: pointer;
  }
  
  .fileInput {
    display: none;
  }