.container {
    
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 54px;
}

.buttonsContainer {
    width: 100%;
    display: flex;
    justify-content: end;
}